@font-face {
        font-family: 'Chetta';
        src: url(../FONTS/chetta_vissto/ChettaVissto.ttf);
}
@font-face {
        font-family: 'story';
        src: url(../FONTS/start_story/Start\ Story.ttf);
}
